<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %>
<body>

<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Editar categoria: </h2>
        </div>
        <div class="card-body">
            <form action="/admin/categories/update" method="POST">
                <label for="title" class="form-label">Título: </label>
                <input type="text" name="title" class="form-control" value="<%= categories.title %>">
                <input type="hidden" name="id" value="<%= categories.id %> ">
                <button type="submit" class="btn btn-dark mt-4">Atualizar</button>
            </form>
        </div>
    </div>
</div>
    
</body>
<%- include('../../partials/footer.ejs') %> 