<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %>
<body>
<div class="container mt-5">
    <h1>Lista de administradores: </h1>

    <a href="/admin/users/new" class="btn btn-dark mt-2">Cadastrar novo administrador</a>
    <% if(users.length > 0){ %> 
    <table class="table table-bordered mt-4">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col" style="width: 10%">Ações</th>
          </tr>
        </thead>
        <tbody>
            <% users.forEach(users => {  %> 
                <tr>
                    <th scope="row"><%= users.id %> </td>
                    <td><%= users.email %> </td>
                    <td class="btn-custom">
                        <a href="/admin/users/edit/<%= users.id %>" class="btn btn-warning">Editar</a>
                        <form action="/admin/users/delete" method="POST">
                            <input type="hidden" name="id" value="<%= users.id %>">
                            <button type="submit" class="btn btn-danger ms-2">Excluir</button>
                        </form>
                    </td>
                </tr>
            <% }) %> 
        </tbody>
      </table>
      <% }else{ %> 
        <h2 class="mt-4">Não há administradores cadastrados</h2>
    <% } %> 
</div>

</body>
<%- include('../../partials/footer.ejs') %> 